@model CombinedLoginRegisterViewModel

@{
    Layout = "~/Views/_LayoutHome.cshtml";
    ViewData["Title"] = "Valued Veteran";
    ViewData["Description"] = "Valued Veteran";
}

<section id="wrapper" class="login-register">
    <div class="login-box login-sidebar">
        <div class="white-box">
            <form id="captureform" asp-controller="Account" asp-action="Evaluation" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal form-material">
                <div id="captureformdiv" class="">
                    <h1>Free Evaluation</h1>
                    <p>Simply provide the info below to immediately see if you qualify for an increase in VA benefits</p>
                    <input asp-for="@Model.Evaluation.Rating" type="hidden" id="slidervalue" />
                    <label class="control-label">Is this your first time filing?</label>
                    <div class="radio-list">
                        <label class="radio-inline">
                            <input asp-for="@Model.Evaluation.IsFirstTimeFiling" type="radio" value="true"> Yes
                        </label>

                        <label class="radio-inline">
                            <input asp-for="@Model.Evaluation.IsFirstTimeFiling" type="radio" value="false" checked=""> No
                        </label>
                    </div>

                    <label class="control-label">Do you have a claim with the VA?</label>
                    <div class="radio-list">
                        <label class="radio-inline">
                            <input asp-for="@Model.Evaluation.HasVAClaim" type="radio" value="true"> Yes
                        </label>
                        <label class="radio-inline">
                            <input asp-for="@Model.Evaluation.HasVAClaim" type="radio" value="false" checked=""> No
                        </label>
                    </div>


                    <label class="control-label">Do you have an active appeal?</label>
                    <div class="radio-list">
                        <label class="radio-inline">
                            <input asp-for="@Model.Evaluation.HasActiveAppeal" type="radio" value="true"> Yes
                        </label>
                        <label class="radio-inline">
                            <input asp-for="@Model.Evaluation.HasActiveAppeal" type="radio" value="false" checked=""> No
                        </label>
                    </div>

                    <label class="control-label">Do you currently have a rating by the VA?</label>
                    <div class="radio-list">
                        <label class="radio-inline">
                            <input asp-for="@Model.Evaluation.HasRating" type="radio" value="true" onclick="$('#ratingsliderdiv').removeClass('hidden'); $('#ratingsliderdiv').show();"> Yes
                        </label>
                        <label class="radio-inline">
                            <input asp-for="@Model.Evaluation.HasRating" type="radio" value="false" checked="" onclick="$('#ratingsliderdiv').hide();"> No
                        </label>
                    </div>

                    <div id="ratingsliderdiv" class="hidden">
                        <h3 class="box-title">What is your current rating?</h3>
                        <div id="range_rating"></div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <a href="javascript:void(0)" id="captureform-to-resultsform" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"><b>Submit</b></a>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a href="javascript:void(0)" id="captureform-to-loginform" class="text-primary m-l-5"><b>Sign In</b></a></p>
                            <p>Don't have an account? <a href="javascript:void(0)" id="captureform-to-registerform" class="text-primary m-l-5"><b>Sign Up</b></a></p>
                        </div>
                    </div>

                </div>


                <div id="resultsformdiv" class="hidden">
                    <h3 class="box-title">Evaluation Results</h3>
                    <div id="results1div" class="">
                        <div class="text-right">
                            <span class="text-muted">Get This Much More Per Month</span>
                            <h1><sup><i class="ti-arrow-up text-success"></i></sup> $500</h1>
                        </div>
                        @*<span class="text-success">30% Rating Increase</span>*@
                        <span class="text-success">30% Rating Increase</span>
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width:30%;"> <span class="sr-only">20% Complete</span> </div>
                        </div>
                        <div>
                            <div class="well">
                                <h4>Money Back Guarantee</h4>
                                <p>Our analysis shows we may be able to increase your benefits rarting by additional 30%.  If we can't deliver on our promise then you get your money back.  It's that simple.</p>
                            </div>
                        </div>
                    </div>
                    <div id="results2div" class="">
                        <div class="text-right">
                            <span class="text-muted">Get This Much More Per Month</span>
                            <h1><sup><i class="ti-arrow-up text-success"></i></sup> $300</h1>
                        </div>
                        <span class="text-success">20% Rating Increase</span>
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:20%;"> <span class="sr-only">20% Complete</span> </div>
                        </div>
                        <div>
                            <div class="well">
                                <h4>Money Back Guarantee</h4>
                                <p>Our analysis shows we may be able to increase your benefits rarting by additional 20%.  If we can't deliver on our promise then you get your money back.  It's that simple.</p>
                            </div>
                        </div>
                    </div>
                    <div id="results3div" class="">
                        <div class="text-right">
                            <span class="text-muted">Get This Much More Per Month</span>
                            <h1><sup><i class="ti-arrow-up text-success"></i></sup> $100</h1>
                        </div>
                        <span class="text-success">10% Rating Increase</span>
                        <div class="progress m-b-0">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width:10%;"> <span class="sr-only">20% Complete</span> </div>
                        </div>
                        <div>
                            <div class="well">
                                <h4>Money Back Guarantee</h4>
                                <p>Our analysis shows we may be able to increase your benefits rarting by additional 10%.  If we can't deliver on our promise then you get your money back.  It's that simple.</p>
                            </div>
                        </div>
                    </div>
                    <div id="results4div" class="">
                        <span class="text-success">You currently have maximum VA benefits.  Looks like we can't help you.  Please refer your friends to us.</span>
                    </div>
                   

                    <div class="form-group m-t-40">
                        <label class="control-label">Create a free account to get started</label>
                        <div class="col-xs-12">
                            <input asp-for="@Model.Register.Email" class="form-control" type="text" required="" placeholder="Email">
                        </div>
                        <div class="col-xs-12">
                            <input asp-for="@Model.Register.Password" class="form-control" type="password" required="" placeholder="Password">
                        </div>
                        <div class="col-xs-12">
                            <input asp-for="@Model.Register.ConfirmPassword" class="form-control" type="password" required="" placeholder="Confirm Password">
                        </div>
                    </div>
 
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Get Started</button>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <p>Already have an account? <a href="javascript:void(0)" id="resultsform-to-loginform" class="text-primary m-l-5"><b>Sign In</b></a></p>
                    </div>

                    <div class="col-sm-12 text-center">
                        <a href="javascript:void(0)" id="resultsform-to-captureform" class="text-primary m-l-5"><b>Not Interested</b></a>
                    </div>

                    @*<div class="form-group text-center m-t-20">
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="button">Get Started</button>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <a href="javascript:void(0)" id="resultsform-to-captureform" class="text-primary m-l-5"><b>No Thanks</b></a>
                        </div>
                    </div>*@

                </div>
            </form>


            <div id="loginformdiv" class="hidden">
                <form id="loginform" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal form-material">
                    <h1>Valued Veteran Consulting Services</h1>
                    <p>Helping veterans increase disability benefits</p>
                    @*<a href="javascript:void(0)" class="text-center db"><img src="../plugins/images/pixeladmin-logo.png" alt="Home" /><br /><img src="../plugins/images/pixeladmin-text.png" alt="Home" /></a>*@

                    <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            <input asp-for="@Model.Login.Username" class="form-control" type="text" required="" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input asp-for="@Model.Login.Password" class="form-control" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @*<div class="checkbox checkbox-primary pull-left p-t-0">
                                <input asp-for="@Model.Login.RememberMe" id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> Remember me </label>
                            </div>*@
                            <a href="javascript:void(0)" id="loginform-to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                            <div class="social">
                                <a asp-controller="Account" asp-action="LoginExternal" asp-route-connection="facebook" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook">
                                    <i aria-hidden="true" class="fa fa-facebook"></i>
                                </a>
                                <a asp-controller="Account" asp-action="LoginExternal" asp-route-connection="google-oauth2" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google">
                                    <i aria-hidden="true" class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Don't have an account? <a href="javascript:void(0)" id="loginform-to-signup" class="text-primary m-l-5"><b>Sign Up</b></a></p>
                        </div>
                    </div>
                </form>
            </div>




            <div id="recoverformdiv" class="hidden">
                <form id="recoverform" asp-controller="Account" asp-action="Recover" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal form-material">
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <h3>Recover Password</h3>
                            <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input asp-for="@Model.Recover.Email" class="form-control" type="text" required="" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a href="javascript:void(0)" id="recoverform-to-loginform" class="text-primary m-l-5"><b>Sign In</b></a></p>
                            <p>Don't have an account? <a href="javascript:void(0)" id="recoverform-to-registerform" class="text-primary m-l-5"><b>Sign Up</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
            <div id="registerformdiv" class="hidden">
                <form id="registerform" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal form-material">
                    <h1>Valued Veteran Consulting Services</h1>
                    <p>Helping veterans increase disability benefits</p>
                    <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input asp-for="@Model.Register.Email" class="form-control" type="text" required="" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input asp-for="@Model.Register.Password" class="form-control" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input asp-for="@Model.Register.ConfirmPassword" class="form-control" type="password" required="" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a href="javascript:void(0)" id="registerform-to-loginform" class="text-primary m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
