@{
    HttpCookie cookie = Request.Cookies[MainSite.Classes.CookieManager.COOKIENAME];
    string userguid = null;
    Vetapp.Engine.BusinessFacadeLayer.LayoutData data = null;
    if (cookie != null)
    {
        userguid = cookie[MainSite.Classes.CookieManager.COOKIE_FIELD_USER_GUID];
        data = (new Vetapp.Engine.BusinessFacadeLayer.BusFacCore()).GetLayoutData(userguid);
    }
    if (data == null)
    {
        data = new Vetapp.Engine.BusinessFacadeLayer.LayoutData();
    }
}
@using MainSite.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MainSite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />
    <title>Veteran App</title>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>


<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="/Dashboard"><b><span>VeteranApp</span></b></a></div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                    <li>
                        <form role="search" class="app-search hidden-xs">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                    <li>
                        <form role="search" class="app-search hidden-xs">
                            <h2><label class="label">Active Session</label><span class="label label-default">@data.user.Username</span></h2>
                        </form>

                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                 
                    @*@if ((data.UserCart != null) && (data.UserCart.lstProductModel != null) && (data.UserCart.lstProductModel.Count > 0))
                        {
                            <li class="right-side-toggle"> <a class="waves-effect waves-light" href="/Dashboard/ProductCart"><i class="ti-shopping-cart"></i><div class="notify"><span class="heartbit"></span><span class="point"></span></div></a></li>
                            <li class="right-side-toggle"> <a class="waves-effect waves-light" href="/Dashboard/ProductCart"><h6><span class="label label-danger">@data.UserCart.lstProductModel.Count item - @data.UserCart.TotalPriceText</span></h6></a></li>
                        }*@
                    <li><a href="/Dashboard/ClientCreate" class="hidden-xs waves-effect waves-light" data-placement="bottom" data-toggle="tooltip" data-original-title="Create new client"><i class="icon-plus"></i><i class="icon-user"></i></a></li>
                    <li><a href="/Dashboard" class="hidden-xs waves-effect waves-light" data-placement="bottom" data-toggle="tooltip" data-original-title="Switch to your login dashboard"><i class="icon-home ti-menu"></i></a></li>
                    <li class="right-side-toggle"> <a class="waves-effect waves-light" href="/Dashboard/LogOut" data-placement="left" data-toggle="tooltip" data-original-title="Logout"><i class="icon-logout"></i></a></li>
                    <!-- /.dropdown -->
                </ul>

            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
    </div>
    <!-- /#wrapper -->
    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li class="nav-small-cap m-t-10">--- Main Menu</li>
                <li><a href="/Dashboard/Index" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Dashboard </span></a></li>
                <li><a href="/Dashboard/ProfileUpdate" class="waves-effect"><i class="ti-user fa-fw"></i> <span class="hide-menu">My Profile</span></a></li>
                @if (@data.NumPurchasedForms > 0)
                {
                    <li><a href="/Dashboard/PurchasedForm" class="waves-effect"><i class="ti-money fa-fw"></i> <span class="hide-menu">Purchased Forms<span class="label label-rouded label-info pull-right"> @data.NumPurchasedForms</span></span></a></li>
                }
                <li><a href="/Calculator" class="waves-effect"><i class="fa-calendar-times-o fa-fw"></i> <span class="hide-menu">Calculator</span></a></li>
                <li><a href="/Dashboard/Support" class="waves-effect"><i class="ti-support fa-fw"></i> <span class="hide-menu">Support</span></a></li>
                <li><a href="/Dashboard/LogOut" class="waves-effect"><i data-icon="&#xe00b;" class="icon-logout fa-fw"></i> <span class="hide-menu">Log out</span></a></li>
            </ul>
        </div>
    </div>
    <!-- Left navbar-header end -->

    @RenderBody()

    <!-- /.container-fluid -->
    @*<footer class="footer text-center"> 2017 &copy; Veteranapp </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)

</body>
</html>


