@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Elbow";
    ViewData["Description"] = "Elbow";
}

@model MainSite.Models.ElbowModel


<div id="page-wrapper">
    <div class="col-xs-12">
        <h2 class="box-title m-b-0 m-t-40">Answer a Few Questions About Your Elbow Disability</h2>
        <p class="text-muted m-b-30 font-13"> Please answer each form section and click next.  It's best to answer these questions if you have access to your <a href="https://www.ebenefits.va.gov/" target="_blank">eBenefits</a>.  Each part is automatically saved when you finish it.</p>

        <form id="formelbow" method="post" action="/Dashboard/ElbowPost?contentStateID=6">
            <input id="UserID" name="UserID" class="form-control" type="hidden" value="@Model.UserID">
            @*@if (Model.ContentStateID == 6)
            {
                <button class="btn btn-success btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">You Have Completed This Form Already, Click To Purchase</button>
                <hr />
            }*@
            <div class="panel-group col-lg-12" id="accordion">

                <!-- Part 1 -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse1">Part 1</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group m-t-20">
                                <label class="col-md-3">Full Name</label>
                                <div class="col-xs-4">
                                    @Html.EditorFor(x => x.NameOfPatient, new { htmlAttributes = new { @class = "form-control", placeholder = "Full Name" } })
                                </div>
                            </div>
                            <br />
                            <div class="form-group m-t-20">
                                <label class="col-md-3">Social Security Number</label>
                                <div class="col-xs-4">
                                    @Html.EditorFor(x => x.SocialSecurity, new { htmlAttributes = new { @class = "form-control", placeholder = "Social Security" } })
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div>
                                <label class="font-bold">What is the diagnosis of your service-connected elbow condition?</label>
                                @Html.RadioButtonFor(x => x.Side, "LEFT") Left
                                @Html.RadioButtonFor(x => x.Side, "RIGHT") Right
                                @Html.RadioButtonFor(x => x.Side, "BOTH") Both
                            </div>
                            <hr />
                            <div class="form-group m-t-20">
                                <label class="font-bold">What is the diagnosis of your service-connected elbow condition? Check if applies and choose Right, Left or Both?</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S72) Olecranon Bursitis
                                    </label>
                                    @Html.RadioButtonFor(x => x.S72Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S72Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S72Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S73) Tricep Tendinitis
                                    </label>
                                    @Html.RadioButtonFor(x => x.S73Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S73Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S73Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S74) Lateral Epicondylitis
                                    </label>
                                    @Html.RadioButtonFor(x => x.S74Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S74Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S74Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S75) Medial Epicondylitis
                                    </label>
                                    @Html.RadioButtonFor(x => x.S75Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S75Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S75Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S76) Instability
                                    </label>
                                    @Html.RadioButtonFor(x => x.S76Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S76Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S76Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S77) Dislocation, Elbow
                                    </label>
                                    @Html.RadioButtonFor(x => x.S77Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S77Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S77Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S78) Osteoarthritis, Elbow
                                    </label>
                                    @Html.RadioButtonFor(x => x.S78Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S78Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S78Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S79) Total Elbow Arthroplasty
                                    </label>
                                    @Html.RadioButtonFor(x => x.S79Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S79Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S79Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S80) Ankylosis Of Elbow Joint
                                    </label>
                                    @Html.RadioButtonFor(x => x.S80Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S80Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S80Side, "BOTH") Both
                                </div>
                              
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        Other (specify):
                                    </label>
                                    @Html.RadioButtonFor(x => x.S81Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S81Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S81Side, "BOTH") Both
                                    <br />
                                    @Html.EditorFor(x => x.S81Other, new { htmlAttributes = new { style = "width: 600px" } })

                                </div>


                            </div>
                            <hr />
                            <button class="btn btn-success btn-md pull-right" type="button" id="part1NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Part 1 -->
                <!-- Part 2 -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse2">Part 2</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="romrightdiv" class="form-check form-check-inline panel panel-primary">
                                <label class="font-bold">We will ask you to complete a series of Range of Motion test for the <spa>RIGHT</spa> elbow.</label>
                                <hr />
                                <label>Please perform the following Range of Motion for the <spa>RIGHT</spa> elbow.</label>
                                <br />
                                <span>Flexion (normal endpoint = 145 degrees)</span>
                                @Html.DropDownListFor(x => x.S130, (SelectList)ViewBag.MovementList145Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S134, (SelectList)ViewBag.MovementList180Deg)
                                <br />
                                <span>Forarm Supination</span>
                                @Html.DropDownListFor(x => x.S137, (SelectList)ViewBag.MovementList85Deg)
                                <br />
                                <span>Forarm Pronation</span>
                                @Html.DropDownListFor(x => x.S140, (SelectList)ViewBag.MovementList80Deg)

                                <hr />
                                <label>Please perform the following Range of Motion 3 repetitions for the <spa>RIGHT</spa> elbow and record the last repetition below.</label>
                                <br />
                                <span>Flexion (normal endpoint = 145 degrees)</span>
                                @Html.DropDownListFor(x => x.S170, (SelectList)ViewBag.MovementList145Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S169, (SelectList)ViewBag.MovementList180Deg)
                                <br />
                                <span>Forarm Supination</span>
                                @Html.DropDownListFor(x => x.S171, (SelectList)ViewBag.MovementList85Deg)
                                <br />
                                <span>Forarm Pronation</span>
                                @Html.DropDownListFor(x => x.S172, (SelectList)ViewBag.MovementList80Deg)

                                <hr />
                                <label>For the <spa>RIGHT</spa> elbow at its worst or during a flare-up, what is the range for each motion?</label>
                                <br />
                                <span>Flexion (normal endpoint = 145 degrees)</span>
                                @Html.DropDownListFor(x => x.S292, (SelectList)ViewBag.MovementList145Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S290, (SelectList)ViewBag.MovementList180Deg)
                                <br />
                                <span>Forarm Supination</span>
                                @Html.DropDownListFor(x => x.S288, (SelectList)ViewBag.MovementList85Deg)
                                <br />
                                <span>Forarm Pronation</span>
                                @Html.DropDownListFor(x => x.S286, (SelectList)ViewBag.MovementList80Deg)

                            </div>

                            <div id="romleftdiv" class="form-check form-check-inline panel panel-primary">
                                <label class="font-bold">We will ask you to complete a series of Range of Motion test for the <spa>LEFT</spa> elbow.</label>
                                <hr />
                                <label>Please perform the following Range of Motion for the <spa>LEFT</spa> elbow.</label>
                                <br />
                                <span>Flexion (normal endpoint = 145 degrees)</span>
                                @Html.DropDownListFor(x => x.S122, (SelectList)ViewBag.MovementList145Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S112, (SelectList)ViewBag.MovementList180Deg)
                                <br />
                                <span>Forarm Supination</span>
                                @Html.DropDownListFor(x => x.S113, (SelectList)ViewBag.MovementList85Deg)
                                <br />
                                <span>Forarm Pronation</span>
                                @Html.DropDownListFor(x => x.S116, (SelectList)ViewBag.MovementList80Deg)

                                <hr />
                                <label>Please perform the following Range of Motion 3 repetitions for the <spa>LEFT</spa> elbow and record the last repetition below.</label>
                                <br />
                                <span>Flexion (normal endpoint = 145 degrees)</span>
                                @Html.DropDownListFor(x => x.S154, (SelectList)ViewBag.MovementList145Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S155, (SelectList)ViewBag.MovementList180Deg)
                                <br />
                                <span>Forarm Supination</span>
                                @Html.DropDownListFor(x => x.S148, (SelectList)ViewBag.MovementList85Deg)
                                <br />
                                <span>Forarm Pronation</span>
                                @Html.DropDownListFor(x => x.S147, (SelectList)ViewBag.MovementList80Deg)

                                <hr />
                                <label>For the <spa>LEFT</spa> elbow at its worst or during a flare-up, what is the range for each motion?</label>
                                <br />
                                <span>Flexion (normal endpoint = 145 degrees)</span>
                                @Html.DropDownListFor(x => x.S260, (SelectList)ViewBag.MovementList145Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S255, (SelectList)ViewBag.MovementList180Deg)
                                <br />
                                <span>Forarm Supination</span>
                                @Html.DropDownListFor(x => x.S253, (SelectList)ViewBag.MovementList85Deg)
                                <br />
                                <span>Forarm Pronation</span>
                                @Html.DropDownListFor(x => x.S254, (SelectList)ViewBag.MovementList80Deg)

                            </div>     
                            <hr />                       
                            <button class="btn btn-warning btn-md pull-left" type="button" id="part2PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part2NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Part 2 -->
                <!-- Part 3 -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse3">Part 3</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group m-t-20">
                                <label class="font-bold">Which limitations affect you? Check if applies and choose Right, Left or Both?</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S195) Loss movement than normal
                                    </label>
                                    @Html.RadioButtonFor(x => x.S195Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S195Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S195Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S239) More movement than normal
                                    </label>
                                    @Html.RadioButtonFor(x => x.S239Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S239Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S239Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S193) Weakened movement
                                    </label>
                                    @Html.RadioButtonFor(x => x.S193Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S193Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S193Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S192) Excess fatigability
                                    </label>
                                    @Html.RadioButtonFor(x => x.S192Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S192Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S192Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S247) Incordination, impaired ability to execute skilled movements smoothly
                                    </label>
                                    @Html.RadioButtonFor(x => x.S247Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S247Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S247Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S246) Pain on movement
                                    </label>
                                    @Html.RadioButtonFor(x => x.S246Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S246Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S246Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S245) Swelling
                                    </label>
                                    @Html.RadioButtonFor(x => x.S245Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S245Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S245Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S244) Deformity
                                    </label>
                                    @Html.RadioButtonFor(x => x.S244Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S244Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S244Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S243) Atrophy of disuse
                                    </label>
                                    @Html.RadioButtonFor(x => x.S243Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S243Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S243Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S201) Instability of station
                                    </label>
                                    @Html.RadioButtonFor(x => x.S201Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S201Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S201Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S213) Disturbance of locomotion
                                    </label>
                                    @Html.RadioButtonFor(x => x.S213Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S213Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S213Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S203) Interference with sitting
                                    </label>
                                    @Html.RadioButtonFor(x => x.S203Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S203Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S203Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S207) Interference with standing
                                    </label>
                                    @Html.RadioButtonFor(x => x.S207Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S207Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S207Side, "BOTH") Both
                                </div>


                            </div>
                            <hr />
                            <button class="btn btn-warning btn-md pull-left" type="button" id="part3PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part3NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Part 3 -->
                <!-- Part 4 -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse4">Part 4</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <button class="btn btn-warning btn-md pull-left" type="button" id="part4PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part4NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Part 4 -->
                <!-- Finish -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapsef">Finished</a>
                        </h4>
                    </div>
                    <div id="collapsef" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h2 class="box-title m-b-0 m-t-40">Thank you for completing the questions.  Click submit to process.</h2>
                            <button class="btn btn-warning btn-md pull-left" type="button" id="finishPrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="submit" id="finishBtn">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- Finish -->



            </div>

        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

    $('document').ready(function () {

        $("#part1NextBtn").on("click", function () {
            if (validate_1()) {
                setROM();
                $("#collapse2").collapse('show');
                $("#collapse1").collapse('hide');

                var model = $('#formelbow').serialize();
                // Serialize model for Posting model
                $.ajax({
                    url: '/Dashboard/ElbowPost?contentStateID=2',
                    type: 'POST',
                    data: model,  // Pass Model to Controller Using Ajax Call
                    success: function (data) {
                        // Show Data
                    }
                });

            }
            else {
                //alert("Not valid");
                $("#infoAlert").modal('show');
            }
        });

        $("#part2NextBtn").on("click", function () {
            $("#collapse3").collapse('show');
            $("#collapse2").collapse('hide');

            var model = $('#formelbow').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/ElbowPost?contentStateID=3',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });

        });

        $("#part2PrevBtn").on("click", function () {
            $("#collapse1").collapse('show');
            $("#collapse2").collapse('hide');


            var model = $('#formelbow').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/ElbowPost?contentStateID=9999',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });

        });

        $("#part3NextBtn").on("click", function () {
            $("#collapse4").collapse('show');
            $("#collapse3").collapse('hide');

            var model = $('#formelbow').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/ElbowPost?contentStateID=4',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });

        });

        $("#part3PrevBtn").on("click", function () {
            $("#collapse2").collapse('show');
            $("#collapse3").collapse('hide');

            var model = $('#formelbow').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/ElbowPost?contentStateID=9999',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });

        });

        $("#part4PrevBtn").on("click", function () {
            $("#collapse3").collapse('show');
            $("#collapse4").collapse('hide');

            var model = $('#formelbow').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/ElbowPost?contentStateID=9999',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });
        });


        $("#part4NextBtn").on("click", function () {
            if (validate_4()) {
                $("#collapsef").collapse('show');
                $("#collapse4").collapse('hide');

                var model = $('#formelbow').serialize();
                // Serialize model for Posting model
                $.ajax({
                    url: '/Dashboard/ElbowPost?contentStateID=5',
                    type: 'POST',
                    data: model,  // Pass Model to Controller Using Ajax Call
                    success: function (data) {
                        // Show Data
                    }
                });

            }
            else {
                $("#infoAlert").modal('show');
            }
        });

        $("#finishPrevBtn").on("click", function () {
            $("#collapse4").collapse('show');
            $("#collapsef").collapse('hide');

            var model = $('#formelbow').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/ElbowPost?contentStateID=9999',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });
        });



        function validate_1() {
            var isValid = true;
            var s;

            s = jQuery('input[name="NameOfPatient"]').val();
            if ((s == '') || s == null) {
                isValid = false;
            }

            s = jQuery('input[name="SocialSecurity"]').val();
            if ((s == '') || s == null) {
                isValid = false;
            }

            return isValid;
        }

        function validate_2() {
            var isValid = true;

            return isValid;
        }
        function validate_3() {
            var isValid = true;

            return isValid;
        }
        function validate_4() {
            var isValid = true;

            return isValid;
        }

        function setROM() {
            var S64Side = $('input[name=S72Side]:checked').val();
            var S65Side = $('input[name=S73Side]:checked').val();
            var S66Side = $('input[name=S74Side]:checked').val();
            var S67Side = $('input[name=S75Side]:checked').val();
            var S68Side = $('input[name=S76Side]:checked').val();
            var S69Side = $('input[name=S77Side]:checked').val();
            var S70Side = $('input[name=S78Side]:checked').val();
            var S71Side = $('input[name=S79Side]:checked').val();
            var S72Side = $('input[name=S80Side]:checked').val();
            var S81Side = $('input[name=S81Side]:checked').val();

            var isDivRight = $("#romrightdiv");
            var isDivLeft = $("#romleftdiv");
            isDivLeft.hide();
            isDivRight.hide();

            //alert(S64Side + "," + S65Side);
            if ((S64Side == "BOTH")
                || (S65Side == "BOTH")
                || (S66Side == "BOTH")
                || (S67Side == "BOTH")
                || (S68Side == "BOTH")
                || (S69Side == "BOTH")
                || (S70Side == "BOTH")
                || (S71Side == "BOTH")
                || (S72Side == "BOTH")
                || (S81Side == "BOTH")
                ) {
                isDivLeft.show();
                isDivRight.show();
            }
            if ((S64Side == "LEFT")
                || (S65Side == "LEFT")
                || (S66Side == "LEFT")
                || (S67Side == "LEFT")
                || (S68Side == "LEFT")
                || (S69Side == "LEFT")
                || (S70Side == "LEFT")
                || (S71Side == "LEFT")
                || (S72Side == "LEFT")
                || (S81Side == "LEFT")
                ) {
                isDivLeft.show();
            }
            if ((S64Side == "RIGHT")
                || (S65Side == "RIGHT")
                || (S66Side == "RIGHT")
                || (S67Side == "RIGHT")
                || (S68Side == "RIGHT")
                || (S69Side == "RIGHT")
                || (S70Side == "RIGHT")
                || (S71Side == "RIGHT")
                || (S72Side == "RIGHT")
                || (S81Side == "RIGHT")
                ) {
                isDivRight.show();
            }

        }
        $("input[type=radio]").change(function () {
            var Selectedvalue = $(this).val();
            setROM();
        });
    });
</script>

@Html.Partial("partialModalDBQ")
