@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Headache";
    ViewData["Description"] = "Headache";
}

@model MainSite.Models.HeadacheModel


<div id="page-wrapper">
    <div class="col-xs-12">
        <h2 class="box-title m-b-0 m-t-40">Answer a Few Questions About Your Headache Disability</h2>
        <p class="text-muted m-b-30 font-13"> Please answer each form section and click next.  It's best to answer these questions if you have access to your <a href="https://www.ebenefits.va.gov/" target="_blank">eBenefits</a>.  Each part is automatically saved when you finish it.</p>

        <form id="formheadache" method="post" action="/Dashboard/HeadachePost?contentStateID=6">
            <input id="UserID" name="UserID" class="form-control" type="hidden" value="@Model.UserID">
            <input id="S3AYes" name="S3AYes" class="form-control" type="hidden" value="@Model.S3AYes">
            <input id="S3BYes" name="S3BYes" class="form-control" type="hidden" value="@Model.S3BYes">
            @*@if (Model.ContentStateID == 6)
                {
                    <button class="btn btn-success btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">You Have Completed This Form Already, Click To Purchase</button>
                    <hr />
                }*@
            <div class="panel-group col-lg-12" id="accordion">

                <!-- Part 1 -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse1">Part 1</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group m-t-20">
                                <div class="form-group m-t-20">
                                    <label class="col-md-3">First Name</label>
                                    <div class="col-xs-4">
                                        @Html.EditorFor(x => x.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group m-t-20">
                                    <label class="col-md-3">Middle Initial</label>
                                    <div class="col-xs-4">
                                        @Html.EditorFor(x => x.MiddleInitial, new { htmlAttributes = new { @class = "form-control", placeholder = "Middle Initial" } })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group m-t-20">
                                    <label class="col-md-3">Last Name</label>
                                    <div class="col-xs-4">
                                        @Html.EditorFor(x => x.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                                    </div>
                                </div>
                                <br />
                                <div class="form-group m-t-20">
                                    <label class="col-md-3">Social Security Number</label>
                                    <div class="col-xs-4">
                                        @Html.EditorFor(x => x.SocialSecurity, new { htmlAttributes = new { @class = "form-control", placeholder = "Social Security" } })
                                    </div>
                                </div>
                                <br />
                                <hr />
                                <label class="font-bold">What is the diagnosis of your service-connected headache condition? (Listed on your rating)</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S35) Migraine including variants (migraines)
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S23) Tension
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S24) Cluster
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        Other (specify):
                                    </label>
                                    <br />
                                    @Html.EditorFor(x => x.S25Other, new { htmlAttributes = new { style = "width: 600px" } })

                                </div>
                                <br />
                                <label class="form-check-label font-normal">
                                    Are you taking medication for your headache condition?  (If yes, describe medication)
                                </label>
                                <br />
                                @Html.EditorFor(x => x.MedicationPlan, new { htmlAttributes = new { style = "width: 600px" } })


                                @*<div class="col-xs-12">
                                    <label class="col-md-12">Are you taking medication for your headache condition?  (If yes, describe medication)</label>
                                    <input id="MedicationPlan" name="MedicationPlan" class="form-control" type="text" required="" placeholder="Medication Plan" value="@Model.MedicationPlan">
                                </div>*@

                            </div>
                            <hr />
                            <div class="form-group m-t-20">
                                <label class="font-bold">Describe your headache pain? (Check all that apply)</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S26) Constant head pain
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S2) Pulsating or throbbing head pain
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S3) Pain localized to one side of the head
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S4) Pain on both sides of the head
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S5) Pain worsens with physical activity
                                    </label>
                                </div>
                                <br />
                                <label class="form-check-label font-normal">
                                    Other, describe:
                                </label>
                                <br />
                                @Html.EditorFor(x => x.S3AOther, new { htmlAttributes = new { style = "width: 600px" } })


                                @*<div class="col-xs-12">
                                    <label class="col-md-12">Other, describe</label>
                                    <input id="S3AOther" name="S3AOther" class="form-control" type="text" required="" placeholder="Other Headache Pain" value="@Model.S3AOther">
                                </div>*@

                            </div>
                            <hr />
                            <button class="btn btn-success btn-md pull-right" type="button" id="part1NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Part 1 -->
                <!-- Part 2 -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse2">Part 2</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group m-t-20">
                                <label class="font-bold">Describe your non-headache pain? (Check all that apply)</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S75) Nausea
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S68) Vomiting
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S69) Sensitivity to light
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S70) Sensitivity to sound
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S71) Changes in vision (such as scotoma, flashes of light, tunnel vision)
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S72) Sensory changes (such as feeling of pins and needles in extremities)
                                    </label>
                                </div>
                                <br />
                                <label class="form-check-label font-normal">
                                    Other, describe:
                                </label>
                                <br />
                                @Html.EditorFor(x => x.S3BOther, new { htmlAttributes = new { style = "width: 600px" } })


                                @*<div class="col-xs-12">
                                    <label class="col-md-12">Other, describe</label>
                                    <input id="S3BOther" name="S3BOther" class="form-control" type="text" required="" placeholder="Other Non-Headache Pain" value="@Model.S3BOther">
                                </div>*@

                            </div>
                            <hr />
                            <div class="form-group m-t-20">
                                <label class="font-bold">What is the duration of your head pain?</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S54) Less than 1 day
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S55) 1-2 days
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S60) More than 2 days
                                    </label>
                                </div>
                                <br />
                                <label class="form-check-label font-normal">
                                    Other, describe:
                                </label>
                                <br />
                                @Html.EditorFor(x => x.S3COther, new { htmlAttributes = new { style = "width: 600px" } })


                                @*<div class="col-xs-12">
                                    <label class="col-md-12">Other, describe</label>
                                    <input id="S3COther" name="S3COther" class="form-control" type="text" required="" placeholder="Other Duration" value="@Model.S3COther">
                                </div>*@
                            </div>
                            <hr />
                            <div class="form-group m-t-20">
                                <label class="font-bold">Where is your head pain located?</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S66) Right side of head
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S65) Left side of head
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S64) Both sides of head
                                    </label>
                                </div>
                                <br />
                                <label class="form-check-label font-normal">
                                    Other, describe:
                                </label>
                                <br />
                                @Html.EditorFor(x => x.S3DOther, new { htmlAttributes = new { style = "width: 600px" } })


                                @*<div class="col-xs-12">
                                    <label class="col-md-12">Other, describe</label>
                                    <input id="S3DOther" name="S3DOther" class="form-control" type="text" required="" placeholder="Other Location" value="@Model.S3DOther">
                                </div>*@
                            </div>
                            <hr />

                            <button class="btn btn-warning btn-md pull-left" type="button" id="part2PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part2NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Part 2 -->
                <!-- Part 3 -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse3">Part 3</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            @if (Model.S3AYes)
                            {
                                <div class="form-group m-t-20">
                                    <label class="font-bold">How often do you have incappacitating headaches which require you to stop what you are doing and go to a dark and quiet room to lay down?</label>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label font-normal">
                                            @Html.EditorFor(x => x.S56) Less than once every 2 months
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label font-normal">
                                            @Html.EditorFor(x => x.S57) Once in 2 months
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label font-normal">
                                            @Html.EditorFor(x => x.S58) Once every month
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label font-normal">
                                            @Html.EditorFor(x => x.S59) More frequently than once per month
                                        </label>
                                    </div>
                                </div>
                            }

                            @if (Model.S3BYes)
                            {
                                <div class="form-group m-t-20">
                                    <label class="font-bold">How often do you have incapacitating non-migraine headaches which require you to stop what you are doing and go to a dark and quiet room to lay down?</label>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label font-normal">
                                            @Html.EditorFor(x => x.S45) Less than once every 2 months
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label font-normal">
                                            @Html.EditorFor(x => x.S44) Once in 2 months
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label font-normal">
                                            @Html.EditorFor(x => x.S43) Once every month
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label font-normal">
                                            @Html.EditorFor(x => x.S42) More frequently than once per month
                                        </label>
                                    </div>
                                </div>

                            }
                            <hr />
                            <div id="divWork">
                                <label class="font-bold">Which statement best describes your headache condition? (Only pick one)</label>
                                <br />
                                @Html.RadioButtonFor(x => x.WorkCondition, "A") Pt reports at least 1 incapacitating migraines per 2-3 weeks.  Must cease all activities and stay in bed.  Extreme sensitivity to light, sound, and quick movements.  Must take time off work during an incapacitating episode.
                                <br />
                                @Html.RadioButtonFor(x => x.WorkCondition, "B") Pt reports at least 1 incapacitating migraines per every 1-2 months.  Must cease all activities and stay in bed.  Extreme sensitivity to light, sound, and quick movements.  Must take time off work during an incapacitating episode.
                                <br />
                                @Html.RadioButtonFor(x => x.WorkCondition, "C") I miss work occasionally due to my headaches, 1-2 weeks a year.
                                <br />
                               @Html.RadioButtonFor(x => x.WorkCondition, "D") I am not missing any time off work due to my headaches.
                            </div>
                            <button class="btn btn-warning btn-md pull-left" type="button" id="part3PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part3NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Part 3 -->

                <!-- Finish -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapsef">Finished</a>
                        </h4>
                    </div>
                    <div id="collapsef" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h2 class="box-title m-b-0 m-t-40">Thank you for completing the questions.  Click submit to process.</h2>
                            <button class="btn btn-warning btn-md pull-left" type="button" id="finishPrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="submit" id="finishBtn">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- Finish -->
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

    $('document').ready(function () {

        $("#part1NextBtn").on("click", function () {
            if (validate_1()) {
                $("#collapse2").collapse('show');
                $("#collapse1").collapse('hide');

                var model = $('#formheadache').serialize();
                // Serialize model for Posting model
                $.ajax({
                    url: '/Dashboard/HeadachePost?contentStateID=2',
                    type: 'POST',
                    data: model,  // Pass Model to Controller Using Ajax Call
                    success: function (data) {
                        // Show Data
                    }
                });

            }
            else {
                //alert("Not valid");
                $("#infoAlert").modal('show');
            }
        });

        $("#part2NextBtn").on("click", function () {
            $("#collapse3").collapse('show');
            $("#collapse2").collapse('hide');

            var model = $('#formheadache').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/HeadachePost?contentStateID=3',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });

        });

        $("#part2PrevBtn").on("click", function () {
            $("#collapse1").collapse('show');
            $("#collapse2").collapse('hide');


            var model = $('#formheadache').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/HeadachePost?contentStateID=9999',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });

        });

        $("#part3NextBtn").on("click", function () {
            $("#collapsef").collapse('show');
            $("#collapse3").collapse('hide');

            var model = $('#formheadache').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/HeadachePost?contentStateID=4',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });

        });

        $("#part3PrevBtn").on("click", function () {
            $("#collapse2").collapse('show');
            $("#collapse3").collapse('hide');

            var model = $('#formheadache').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/HeadachePost?contentStateID=9999',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });

        });

        $("#part4PrevBtn").on("click", function () {
            $("#collapse3").collapse('show');
            $("#collapse4").collapse('hide');

            var model = $('#formheadache').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/HeadachePost?contentStateID=9999',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });
        });


        $("#part4NextBtn").on("click", function () {
            if (validate_4()) {
                $("#collapsef").collapse('show');
                $("#collapse4").collapse('hide');

                var model = $('#formheadache').serialize();
                // Serialize model for Posting model
                $.ajax({
                    url: '/Dashboard/HeadachePost?contentStateID=5',
                    type: 'POST',
                    data: model,  // Pass Model to Controller Using Ajax Call
                    success: function (data) {
                        // Show Data
                    }
                });

            }
            else {
                $("#infoAlert").modal('show');
            }
        });

        $("#finishPrevBtn").on("click", function () {
            $("#collapse3").collapse('show');
            $("#collapsef").collapse('hide');

            var model = $('#formheadache').serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/HeadachePost?contentStateID=9999',
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });
        });



        function validate_1() {
            var isValid = true;
            var s;

            s = jQuery('input[name="FirstName"]').val();
            if ((s == '') || s == null) {
                isValid = false;
            }

            s = jQuery('input[name="LastName"]').val();
            if ((s == '') || s == null) {
                isValid = false;
            }

            return isValid;
        }

        function validate_2() {
            var isValid = true;

            return isValid;
        }
        function validate_3() {
            var isValid = true;

            return isValid;
        }
        function validate_4() {
            var isValid = true;

            return isValid;
        }
    });
</script>

@Html.Partial("partialModalDBQ")