@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Knee";
    ViewData["Description"] = "Knee";
}

@model MainSite.Models.KneeModel

<style>
    .panel-heading {
        cursor: pointer;
    }

    .clickable {
        cursor: pointer;
    }

        .clickable .glyphicon {
            background: rgba(0, 0, 0, 0.15);
            display: inline-block;
            padding: 6px 12px;
            border-radius: 4px;
        }

    .panel-heading span {
        margin-top: -23px;
        font-size: 15px;
        margin-right: -9px;
    }

    a.clickable {
        color: inherit;
    }

        a.clickable:hover {
            text-decoration: none;
        }
</style>

<div id="page-wrapper">
    <div class="col-xs-12">
        <h2 class="box-title m-b-0 m-t-40">Answer a Few Questions About Your Knee Disability</h2>
        <p class="text-muted m-b-30 font-13"> Please answer each form section and click next.  It's best to answer these questions if you have access to your <a href="https://www.ebenefits.va.gov/" target="_blank">eBenefits</a>.  Each part is automatically saved when you finish it.</p>

        <form id="formknee" method="post" action="/Dashboard/KneePost?contentStateID=6">
            <input id="UserID" name="UserID" class="form-control" type="hidden" value="@Model.UserID">
            @*@if (Model.ContentStateID == 6)
            {
                <button class="btn btn-success btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">You Have Completed This Form Already, Click To Purchase</button>
                <hr />
            }*@
            <div class="panel-group col-lg-12" id="accordion">

                <!-- Section 1 -->
                <div class="panel panel-info">
                    <div class="panel-heading" id="part1Show">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse1">Section 1</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group m-t-20">
                                <label class="col-md-3">Full Name</label>
                                <div class="col-xs-4">
                                    @Html.EditorFor(x => x.NameOfPatient, new { htmlAttributes = new { @class = "form-control", placeholder = "Full Name" } })
                                </div>
                            </div>
                            <br />
                            <div class="form-group m-t-20">
                                <label class="col-md-3">Social Security Number</label>
                                <div class="col-xs-4">
                                    @Html.EditorFor(x => x.SocialSecurity, new { htmlAttributes = new { @class = "form-control", placeholder = "Social Security" } })
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="form-group m-t-20">
                                <div class="row">
                                    <div class="col-md-5">
                                        <span>Please type in the diagnosis of your service-connected disability exactly as it is shown on your rating:  </span>
                                    </div>
                                    <div class="col-md-7">
                                        @Html.TextAreaFor(x => x.S69, new { htmlAttributes = new { @class = "form-control form-control-line", placeholder = "enter your text here ..." }, style = "width: 100%; height: 100px" })
                                    </div>
                                </div>

                                <label class="font-bold">What is the diagnosis of your service-connected knee condition? Check if applies and choose Right, Left or Both?</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S57) Knee strain
                                    </label>
                                    @Html.RadioButtonFor(x => x.S57Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S57Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S57Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S58) Knee tendonitis/tendonosis
                                    </label>
                                    @Html.RadioButtonFor(x => x.S58Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S58Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S58Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S59) Knee meniscal tear
                                    </label>
                                    @Html.RadioButtonFor(x => x.S59Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S59Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S59Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S60) Knee anterior cruciate ligament tear
                                    </label>
                                    @Html.RadioButtonFor(x => x.S60Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S60Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S60Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S61) Knee posterior cruciate ligament tear
                                    </label>
                                    @Html.RadioButtonFor(x => x.S61Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S61Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S61Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S62) Patellar or quadriceps tendon rupture
                                    </label>
                                    @Html.RadioButtonFor(x => x.S62Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S62Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S62Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S63) Knee joint osteoarthritis
                                    </label>
                                    @Html.RadioButtonFor(x => x.S63Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S63Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S63Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S64) Knee joint ankylosis
                                    </label>
                                    @Html.RadioButtonFor(x => x.S64Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S64Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S64Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S65) Knee fracture (including patellar fracture)
                                    </label>
                                    @Html.RadioButtonFor(x => x.S65Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S65Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S65Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S79) Stress fracture of tibia
                                    </label>
                                    @Html.RadioButtonFor(x => x.S79Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S79Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S79Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S127) Tibia and/or Fibula fracture
                                    </label>
                                    @Html.RadioButtonFor(x => x.S127Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S127Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S127Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S121) Recurrent patellar dislocation
                                    </label>
                                    @Html.RadioButtonFor(x => x.S121Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S121Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S121Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S115) Recurrent subluxation
                                    </label>
                                    @Html.RadioButtonFor(x => x.S115Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S115Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S115Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S109) Knee instability
                                    </label>
                                    @Html.RadioButtonFor(x => x.S109Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S109Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S109Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S103) Patellar dislocation
                                    </label>
                                    @Html.RadioButtonFor(x => x.S103Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S103Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S103Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S85) Knee cartilage restoration surgery
                                    </label>
                                    @Html.RadioButtonFor(x => x.S85Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S85Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S85Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S97) Shin splints (including tibia and/or fibula stress fracture and or exertional compartment syndrome)
                                    </label>
                                    @Html.RadioButtonFor(x => x.S97Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S97Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S97Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S91) Patellofemoral pain syndrome
                                    </label>
                                    @Html.RadioButtonFor(x => x.S91Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S91Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S91Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        Other (specify):
                                    </label>
                                    @Html.RadioButtonFor(x => x.S165Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S165Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S165Side, "BOTH") Both
                                    <br />
                                    @Html.EditorFor(x => x.S165Other, new { htmlAttributes = new { style = "width: 600px" } })

                                </div>

                            </div>
                            <hr />
                            <div class="form-check form-check-inline">
                                <hr />
                                <div class="col-md-5">
                                    <span>Describe the history:  </span>
                                </div>
                                <div class="col-md-7">
                                    @Html.EditorFor(x => x.VarianceHistoryWriteIn, new { htmlAttributes = new { style = "width: 600px" } })
                                </div>
                                <hr />
                                <div class="col-md-5">
                                    <span> or </span>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(x => x.VarianceHistory, (SelectList)ViewBag.VarianceHistory, new { @onchange = "onChangeHistory(this.options[this.selectedIndex].innerHTML);", style = "width: 600px; font-size:90%;" })
                                </div>
                                <div class="col-md-12">
                                </div>

                            </div>

                            <div class="form-check form-check-inline">
                                <hr />
                                <div class="col-md-5">
                                    <span>Does the veteran report flare-ups impact function?  </span>
                                </div>
                                <div class="col-md-7">
                                    @Html.EditorFor(x => x.VarianceFlareUpsWriteIn, new { htmlAttributes = new { style = "width: 600px;" } })
                                </div>
                                <hr />
                                <div class="col-md-5">
                                    <span> or </span>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(x => x.VarianceFlareUps, (SelectList)ViewBag.VarianceFlareUps, new { @onchange = "onChangeFlareUps(this.options[this.selectedIndex].innerHTML);", style = "width: 600px; font-size:90%;" })
                                </div>
                                <div class="col-md-12">
                                </div>
                            </div>

                            <div class="form-check form-check-inline">
                                <hr />
                                <div class="col-md-5">
                                    <span>Does the veteran report having any functional loss?  </span>
                                </div>
                                <div class="col-md-7">
                                    @Html.EditorFor(x => x.VarianceFunctionLossWriteIn, new { htmlAttributes = new { style = "width: 600px" } })
                                </div>
                                <br />
                                <div class="col-md-5">
                                    <span> or </span>
                                </div>
                                <div class="col-md-7">
                                    @Html.DropDownListFor(x => x.VarianceFunctionLoss, (SelectList)ViewBag.VarianceFunctionLoss, new { @onchange = "onChangeFunctionLoss(this.options[this.selectedIndex].innerHTML);", style = "width: 600px; font-size:90%;" })
                                </div>
                                <div class="col-md-12">
                                </div>
                            </div>
                            <hr />
                            <button class="btn btn-success btn-md pull-right" type="button" id="part1NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Section 1 -->
                <!-- Section 2 -->
                <div class="panel panel-info">
                    <div class="panel-heading" id="part2Show">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse2">Section 2</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="romrightdiv" class="form-check form-check-inline panel panel-primary">
                                <label class="font-bold">We will ask you to complete a series of Range of Motion test for the <spa>RIGHT</spa> knee.</label>
                                <label>Please perform the following Range of Motion for the <spa>RIGHT</spa> knee.</label>
                                <br />
                                <span>Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S171, (SelectList)ViewBag.MovementList140Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S175, (SelectList)ViewBag.MovementList0To45Deg)

                                <hr />
                                <label>Please perform the following Range of Motion 3 repetitions for the <spa>RIGHT</spa> knee and record the last repetition below.</label>
                                <br />
                                <span>Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S203, (SelectList)ViewBag.MovementList140Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S202, (SelectList)ViewBag.MovementList0To45Deg)

                                <hr />
                                <label>For the <spa>RIGHT</spa> knee at its worst or during a flare-up, what is the range for each motion?</label>
                                <br />
                                <span>Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S313, (SelectList)ViewBag.MovementList140Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S314, (SelectList)ViewBag.MovementList0To45Deg)

                            </div>

                            <div id="romleftdiv" class="form-check form-check-inline panel panel-primary">
                                <hr />
                                <label class="font-bold">We will ask you to complete a series of Range of Motion test for the <spa>LEFT</spa> knee.</label>
                                <label>Please perform the following Range of Motion for the <spa>LEFT</spa> knee.</label>
                                <br />
                                <span>Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S146, (SelectList)ViewBag.MovementList140Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S142, (SelectList)ViewBag.MovementList0To45Deg)

                                <hr />
                                <label>Please perform the following Range of Motion 3 repetitions for the <spa>LEFT</spa> knee and record the last repetition below.</label>
                                <br />
                                <span>Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S187, (SelectList)ViewBag.MovementList140Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S188, (SelectList)ViewBag.MovementList0To45Deg)

                                <hr />
                                <label>For the <spa>LEFT</spa> knee at its worst or during a flare-up, what is the range for each motion?</label>
                                <br />
                                <span>Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S287, (SelectList)ViewBag.MovementList140Deg)
                                <br />
                                <span>Extension</span>
                                @Html.DropDownListFor(x => x.S284, (SelectList)ViewBag.MovementList0To45Deg)

                            </div>
                            <hr />
                            <button class="btn btn-warning btn-md pull-left" type="button" id="part2PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part2NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Section 2 -->
                <!-- Section 3 -->
                <div class="panel panel-info">
                    <div class="panel-heading" id="part3Show">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse3">Section 3</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group m-t-20">
                                <label class="font-bold">Which limitations affect you? Check if applies and choose Right, Left or Both?</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S226) Loss movement than normal
                                    </label>
                                    @Html.RadioButtonFor(x => x.S226Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S226Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S226Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S270) More movement than normal
                                    </label>
                                    @Html.RadioButtonFor(x => x.S270Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S270Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S270Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S224) Weakened movement
                                    </label>
                                    @Html.RadioButtonFor(x => x.S224Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S224Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S224Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S223) Excess fatigability
                                    </label>
                                    @Html.RadioButtonFor(x => x.S223Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S223Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S223Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S278) Incordination, impaired ability to execute skilled movements smoothly
                                    </label>
                                    @Html.RadioButtonFor(x => x.S278Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S278Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S278Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S277) Pain on movement
                                    </label>
                                    @Html.RadioButtonFor(x => x.S277Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S277Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S277Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S276) Swelling
                                    </label>
                                    @Html.RadioButtonFor(x => x.S276Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S276Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S276Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S275) Deformity
                                    </label>
                                    @Html.RadioButtonFor(x => x.S275Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S275Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S275Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S274) Atrophy of disuse
                                    </label>
                                    @Html.RadioButtonFor(x => x.S274Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S274Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S274Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S232) Instability of station
                                    </label>
                                    @Html.RadioButtonFor(x => x.S232Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S232Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S232Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S244) Disturbance of locomotion
                                    </label>
                                    @Html.RadioButtonFor(x => x.S244Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S244Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S244Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S234) Interference with sitting
                                    </label>
                                    @Html.RadioButtonFor(x => x.S234Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S234Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S234Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S238) Interference with standing
                                    </label>
                                    @Html.RadioButtonFor(x => x.S238Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S238Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S238Side, "BOTH") Both
                                </div>
                            </div>
                            <hr />
                            <button class="btn btn-warning btn-md pull-left" type="button" id="part3PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part3NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Section 3 -->
                <!-- Section 4 -->
                <div class="panel panel-info">
                    <div class="panel-heading" id="part4Show">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse4">Section 4</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span>Do you use any assistive devices for walking?</span>
                            @Html.EditorFor(x => x.S505) Yes
                            <hr />
                            <div id="div14A">
                                <span> Brace</span>
                                @Html.EditorFor(x => x.S519) Yes
                                <div id="div14ABrace">
                                    <span>Frequency of BRACE use:</span>
                                    @Html.RadioButtonFor(x => x.S519Choice, "OCCASIONAL") Occasional
                                    @Html.RadioButtonFor(x => x.S519Choice, "REGULAR") Regular
                                    @Html.RadioButtonFor(x => x.S519Choice, "CONSTANT") Constant
                                    @Html.RadioButtonFor(x => x.S519Choice, "NONE") None
                                </div>
                                <br />
                                <span>Crutches</span>
                                @Html.EditorFor(x => x.S531) Yes
                                <div id="div14ACrutches">
                                    <span>Frequency of CRUTCHES use:</span>
                                    @Html.RadioButtonFor(x => x.S531Choice, "OCCASIONAL") Occasional
                                    @Html.RadioButtonFor(x => x.S531Choice, "REGULAR") Regular
                                    @Html.RadioButtonFor(x => x.S531Choice, "CONSTANT") Constant
                                    @Html.RadioButtonFor(x => x.S531Choice, "NONE") None
                               </div>
                                <br />
                                <span> Cane</span>
                                @Html.EditorFor(x => x.S520) Yes
                                <div id="div14ACane">
                                    <span>Frequency of CANE use:</span>
                                    @Html.RadioButtonFor(x => x.S520Choice, "OCCASIONAL") Occasional
                                    @Html.RadioButtonFor(x => x.S520Choice, "REGULAR") Regular
                                    @Html.RadioButtonFor(x => x.S520Choice, "CONSTANT") Constant
                                    @Html.RadioButtonFor(x => x.S520Choice, "NONE") None
                               </div>
                                <br />
                                <span> Walker</span>
                                @Html.EditorFor(x => x.S524) Yes
                                <div id="div14AWalker">
                                    <span>Frequency of WALKER use:</span>
                                    @Html.RadioButtonFor(x => x.S524Choice, "OCCASIONAL") Occasional
                                    @Html.RadioButtonFor(x => x.S524Choice, "REGULAR") Regular
                                    @Html.RadioButtonFor(x => x.S524Choice, "CONSTANT") Constant
                                    @Html.RadioButtonFor(x => x.S524Choice, "NONE") None
                                </div>
                            </div>
                            <hr />

                            <label class="form-check-label font-normal">Have you ever had a total knee replacement and/or a meniscectomy?</label>
                            <br />
                            @Html.EditorFor(x => x.S462) Yes
                            <br />
                            <div class="form-check form-check-inline">
                                <label class="form-check-label font-normal">
                                    If so, which side?
                                </label>
                                @Html.RadioButtonFor(x => x.S11ASide, "RIGHT") Right
                                @Html.RadioButtonFor(x => x.S11ASide, "LEFT") Left
                                @Html.RadioButtonFor(x => x.S11ASide, "BOTH") Both
                                @Html.RadioButtonFor(x => x.S11ASide, "NONE") None
                            </div>
                            <label class="form-check-label font-normal">
                                If so, what was the approximate date of the surgery?
                            </label>
                            <br />
                            @Html.TextBoxFor(x => x.surgeryDate, new { @class = "date-picker" })
                            <br />
                            <div class="form-check form-check-inline">
                                <label class="form-check-label font-normal">
                                    Which type of surgery?
                                </label>
                                @Html.RadioButtonFor(x => x.S11ASurgeryType, "KNEE") Knee Replacement
                                @Html.RadioButtonFor(x => x.S11ASurgeryType, "MENISCECTOMY") Meniscectomy
                                @Html.RadioButtonFor(x => x.S11ASurgeryType, "BOTH") Both
                                @Html.RadioButtonFor(x => x.S11ASurgeryType, "NONE") None
                            </div>
                            <hr />

                            <button class="btn btn-warning btn-md pull-left" type="button" id="part4PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part4NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Section 4 -->
                <!-- Finish -->
                <div class="panel panel-info">
                    <div class="panel-heading" id="partfShow">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapsef">Finished</a>
                        </h4>
                    </div>
                    <div id="collapsef" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h2 class="box-title m-b-0 m-t-40">Thank you for completing the questions.  Click submit to process.</h2>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label font-normal">
                                    @Html.EditorFor(x => x.IsFormReadonly) Check this to make the generated dbq form NOT editable
                                </label>
                            </div>
                            <button class="btn btn-warning btn-md pull-left" type="button" id="finishPrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="submit" id="finishBtn">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- Finish -->



            </div>

        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

    $('document').ready(function () {

        var postcall = "KneePost";
        var formname = "formknee";

        initpanels();
        function save(stateid) {
            var model = $('#' + formname).serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/' + postcall + '?contentStateID=' + stateid,
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });
        }

        $("#part1NextBtn").on("click", function () {
            show2();
        });

        $("#part2NextBtn").on("click", function () {
            show3();
        });

        $("#part2PrevBtn").on("click", function () {
            show1();
        });

        $("#part3NextBtn").on("click", function () {
            show4();
        });

        $("#part3PrevBtn").on("click", function () {
            show2();
        });

        $("#part4PrevBtn").on("click", function () {
            show3();
        });

        $("#part4NextBtn").on("click", function () {
            showf();
        });

        $("#finishPrevBtn").on("click", function () {
            show4();
        });

        $("input[type=radio]").change(function () {
            var Selectedvalue = $(this).val();
            setROM();
        });

        function hideall() {
            $("#collapse1").collapse('hide');
            $("#collapse2").collapse('hide');
            $("#collapse3").collapse('hide');
            $("#collapse4").collapse('hide');
            $("#collapsef").collapse('hide');
        }

        function initpanels() {
            hideall();
            $("#collapse1").collapse('show');
        }

        function show1() {
            hideall();
            save(2);
            $("#collapse1").collapse('show');
        }
        function show2() {
            hideall();
            setROM();
            save(2);
            $("#collapse2").collapse('show');
        }
        function show3() {
            hideall();
            save(2);
            $("#collapse3").collapse('show');
        }
        function show4() {
            hideall();
            save(2);
            $("#collapse4").collapse('show');
        }
        function showf() {
            hideall();
            save(2);
            $("#collapsef").collapse('show');
        }

        $("#part1Show").on("click", function () {
            show1();
        });

        $("#part2Show").on("click", function () {
            show2();
        });

        $("#part3Show").on("click", function () {
            show3();
        });

        $("#part4Show").on("click", function () {
            show4();
        });

        $("#partfShow").on("click", function () {
            showf();
        });

        function setROM() {
            var S57Side = $('input[name=S57Side]:checked').val();
            var S58Side = $('input[name=S58Side]:checked').val();
            var S59Side = $('input[name=S59Side]:checked').val();
            var S60Side = $('input[name=S60Side]:checked').val();
            var S61Side = $('input[name=S61Side]:checked').val();
            var S62Side = $('input[name=S62Side]:checked').val();
            var S63Side = $('input[name=S63Side]:checked').val();
            var S64Side = $('input[name=S64Side]:checked').val();
            var S65Side = $('input[name=S65Side]:checked').val();
            var S79Side = $('input[name=S79Side]:checked').val();
            var S127Side = $('input[name=S127Side]:checked').val();
            var S121Side = $('input[name=S121Side]:checked').val();
            var S115Side = $('input[name=S115Side]:checked').val();
            var S109Side = $('input[name=S109Side]:checked').val();
            var S103Side = $('input[name=S103Side]:checked').val();
            var S85Side = $('input[name=S85Side]:checked').val();
            var S97Side = $('input[name=S97Side]:checked').val();
            var S165Side = $('input[name=S165Side]:checked').val();

            var isDivRight = $("#romrightdiv");
            var isDivLeft = $("#romleftdiv");
            isDivLeft.hide();
            isDivRight.hide();

            if ((S57Side == "BOTH")
                || (S58Side == "BOTH")
                || (S59Side == "BOTH")
                || (S60Side == "BOTH")
                || (S61Side == "BOTH")
                || (S62Side == "BOTH")
                || (S63Side == "BOTH")
                || (S64Side == "BOTH")
                || (S65Side == "BOTH")
                || (S79Side == "BOTH")
                || (S127Side == "BOTH")
                || (S121Side == "BOTH")
                || (S115Side == "BOTH")
                || (S109Side == "BOTH")
                || (S103Side == "BOTH")
                || (S85Side == "BOTH")
                || (S97Side == "BOTH")
                || (S165Side == "BOTH")
                ) {
                isDivLeft.show();
                isDivRight.show();
            }
            if ((S57Side == "LEFT")
                || (S58Side == "LEFT")
                || (S59Side == "LEFT")
                || (S60Side == "LEFT")
                || (S61Side == "LEFT")
                || (S62Side == "LEFT")
                || (S63Side == "LEFT")
                || (S64Side == "LEFT")
                || (S65Side == "LEFT")
                || (S79Side == "LEFT")
                || (S127Side == "LEFT")
                || (S121Side == "LEFT")
                || (S115Side == "LEFT")
                || (S109Side == "LEFT")
                || (S103Side == "LEFT")
                || (S85Side == "LEFT")
                || (S97Side == "LEFT")
                || (S165Side == "LEFT")
                ) {
                isDivLeft.show();
            }
            if ((S57Side == "RIGHT")
                || (S58Side == "RIGHT")
                || (S59Side == "RIGHT")
                || (S60Side == "RIGHT")
                || (S61Side == "RIGHT")
                || (S62Side == "RIGHT")
                || (S63Side == "RIGHT")
                || (S64Side == "RIGHT")
                || (S65Side == "RIGHT")
                || (S79Side == "RIGHT")
                || (S127Side == "RIGHT")
                || (S121Side == "RIGHT")
                || (S115Side == "RIGHT")
                || (S109Side == "RIGHT")
                || (S103Side == "RIGHT")
                || (S85Side == "RIGHT")
                || (S97Side == "RIGHT")
                || (S165Side == "RIGHT")
                ) {
                isDivRight.show();
            }

        }
        $("input[type=radio]").change(function () {
            var Selectedvalue = $(this).val();
            setROM();
        });

        $(function () {
            $('#surgeryDate').datepicker();
        })

        //$('#S505').change(function () {

        //    if (this.checked) {

        //        $('#div14A').show();
        //    }
        //    else {
        //        $('#div14A').hide();
        //    }
        //});

        //$('#S519').change(function () {

        //    if (this.checked) {

        //        $('#div14ABrace').show();
        //    }
        //    else {
        //        $('#div14ABrace').hide();
        //    }
        //});

        //$('#S531').change(function () {

        //    if (this.checked) {

        //        $('#div14ACrutches').show();
        //    }
        //    else {
        //        $('#div14ACrutches').hide();
        //    }
        //});

        //$('#S520').change(function () {

        //    if (this.checked) {

        //        $('#div14ACane').show();
        //    }
        //    else {
        //        $('#div14ACane').hide();
        //    }
        //});

        //$('#S524').change(function () {

        //    if (this.checked) {

        //        $('#div14AWalker').show();
        //    }
        //    else {
        //        $('#div14AWalker').hide();
        //    }
        //});
    });
</script>

@Html.Partial("partialModalDBQ")

