@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Wrist";
    ViewData["Description"] = "Wrist";
}

@model MainSite.Models.WristModel

<style>
    .panel-heading {
        cursor: pointer;
    }

    .clickable {
        cursor: pointer;
    }

        .clickable .glyphicon {
            background: rgba(0, 0, 0, 0.15);
            display: inline-block;
            padding: 6px 12px;
            border-radius: 4px;
        }

    .panel-heading span {
        margin-top: -23px;
        font-size: 15px;
        margin-right: -9px;
    }

    a.clickable {
        color: inherit;
    }

        a.clickable:hover {
            text-decoration: none;
        }
</style>

<div id="page-wrapper">
    <div class="col-xs-12">
        <h2 class="box-title m-b-0 m-t-40">Answer a Few Questions About Your Wrist Disability</h2>
        <p class="text-muted m-b-30 font-13"> Please answer each form section and click next.  It's best to answer these questions if you have access to your <a href="https://www.ebenefits.va.gov/" target="_blank">eBenefits</a>.  Each part is automatically saved when you finish it.</p>

        <form id="formwrist" method="post" action="/Dashboard/WristPost?contentStateID=6">
            <input id="UserID" name="UserID" class="form-control" type="hidden" value="@Model.UserID">
            @*@if (Model.ContentStateID == 6)
            {
                <button class="btn btn-success btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">You Have Completed This Form Already, Click To Purchase</button>
                <hr />
            }*@
            <div class="panel-group col-lg-12" id="accordion">

                <!-- Section 1 -->
                <div class="panel panel-info">
                    <div class="panel-heading" id="part1Show">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse1">Section 1</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group m-t-20">
                                <label class="col-md-3">Full Name</label>
                                <div class="col-xs-4">
                                    @Html.EditorFor(x => x.NameOfPatient, new { htmlAttributes = new { @class = "form-control", placeholder = "Full Name"} })
                                </div>
                            </div>
                            <br />
                            <div class="form-group m-t-20">
                                <label class="col-md-3">Social Security Number</label>
                                <div class="col-xs-4">
                                    @Html.EditorFor(x => x.SocialSecurity, new { htmlAttributes = new { @class = "form-control", placeholder = "Social Security" } })
                                </div>
                            </div>
                            <br />
                            <hr />
                            <div class="form-group m-t-20">
                                <label class="font-bold">What is the diagnosis of your service-connected wrist condition? Check if applies and choose Right, Left or Both?</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S64) Wrist Sprain, Chronic
                                    </label>
                                    @Html.RadioButtonFor(x => x.S64Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S64Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S64Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S65) Tendonitis, Wrist
                                    </label>
                                    @Html.RadioButtonFor(x => x.S65Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S65Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S65Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S66) Ganglion Cyst
                                    </label>
                                    @Html.RadioButtonFor(x => x.S66Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S66Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S66Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S67) Carpal Metacarpal, Arthritis
                                    </label>
                                    @Html.RadioButtonFor(x => x.S67Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S67Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S67Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S68) Osteoarthritis, Arthtritis, Wrist
                                    </label>
                                    @Html.RadioButtonFor(x => x.S68Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S68Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S68Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S69) DeQuervains Syndrome
                                    </label>
                                    @Html.RadioButtonFor(x => x.S69Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S69Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S69Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S70) Triangular Fibrocartilaginous Complex Injury
                                    </label>
                                    @Html.RadioButtonFor(x => x.S70Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S70Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S70Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S71) Carpal Instability
                                    </label>
                                    @Html.RadioButtonFor(x => x.S71Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S71Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S71Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S72) Avascular Necrosis of Carpal Bones
                                    </label>
                                    @Html.RadioButtonFor(x => x.S72Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S72Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S72Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S81) Wrist Anthroplasty
                                    </label>
                                    @Html.RadioButtonFor(x => x.S81Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S81Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S81Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S87) Ankylosis Of Wrist
                                    </label>
                                    @Html.RadioButtonFor(x => x.S87Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S87Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S87Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        Other (specify):
                                    </label>
                                    @Html.RadioButtonFor(x => x.S103Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S103Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S103Side, "BOTH") Both
                                    <br />
                                    @Html.EditorFor(x => x.S103Other, new { htmlAttributes = new { style = "width: 600px" } })

                                </div>

                            </div>
                            <hr />
                            <button class="btn btn-success btn-md pull-right" type="button" id="part1NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Section 1 -->
                <!-- Section 2 -->
                <div class="panel panel-info">
                    <div class="panel-heading" id="part2Show">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse2">Section 2</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="romrightdiv" class="form-check form-check-inline panel panel-primary">
                                <label class="font-bold">We will ask you to complete a series of Range of Motion test for the <spa>RIGHT</spa> wrist.</label>
                                <hr />
                                <label>Please perform the following Range of Motion for the <spa>RIGHT</spa> wrist.</label>
                                <br />
                                <span>Palmer Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S135, (SelectList)ViewBag.MovementList80Deg)
                                <br />
                                <span>Dorsiflexion (normal endpoint = 70 degrees)</span>
                                @Html.DropDownListFor(x => x.S131, (SelectList)ViewBag.MovementList70Deg)
                                <br />
                                <span>Ulnar Deviation (normal endpoint = 45 degrees)</span>
                                @Html.DropDownListFor(x => x.S123, (SelectList)ViewBag.MovementList45Deg)
                                <br />
                                <span>Radial Deviation (normal endpoint = 20 degrees)</span>
                                @Html.DropDownListFor(x => x.S127, (SelectList)ViewBag.MovementList20Deg)
                                <hr />

                                <label>Please perform the following Range of Motion 3 repetitions for the <spa>RIGHT</spa> wrist and record the last repetition below.</label>
                                <br />
                                <span>Palmer Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S159, (SelectList)ViewBag.MovementList80Deg)
                                <br />
                                <span>Dorsiflexion (normal endpoint = 70 degrees)</span>
                                @Html.DropDownListFor(x => x.S160, (SelectList)ViewBag.MovementList70Deg)
                                <br />
                                <span>Ulnar Deviation (normal endpoint = 45 degrees)</span>
                                @Html.DropDownListFor(x => x.S166, (SelectList)ViewBag.MovementList45Deg)
                                <br />
                                <span>Radial Deviation (normal endpoint = 20 degrees)</span>
                                @Html.DropDownListFor(x => x.S167, (SelectList)ViewBag.MovementList20Deg)
                                <hr />

                                <label>For the <spa>RIGHT</spa> wrist at its worst or during a flare-up, what is the range for each motion?</label>
                                <br />
                                <span>Palmer Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S272, (SelectList)ViewBag.MovementList80Deg)
                                <br />
                                <span>Dorsiflexion (normal endpoint = 70 degrees)</span>
                                @Html.DropDownListFor(x => x.S265, (SelectList)ViewBag.MovementList70Deg)
                                <br />
                                <span>Ulnar Deviation (normal endpoint = 45 degrees)</span>
                                @Html.DropDownListFor(x => x.S266, (SelectList)ViewBag.MovementList45Deg)
                                <br />
                                <span>Radial Deviation (normal endpoint = 20 degrees)</span>
                                @Html.DropDownListFor(x => x.S268, (SelectList)ViewBag.MovementList20Deg)
                                <hr />

                            </div>

                            <div id="romleftdiv" class="form-check form-check-inline panel panel-primary">
                                <label class="font-bold">We will ask you to complete a series of Range of Motion test for the <spa>LEFT</spa> wrist.</label>
                                <hr />
                                <label>Please perform the following Range of Motion for the <spa>LEFT</spa> wrist.</label>
                                <br />
                                <span>Palmer Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S156, (SelectList)ViewBag.MovementList80Deg)
                                <br />
                                <span>Dorsiflexion (normal endpoint = 70 degrees)</span>
                                @Html.DropDownListFor(x => x.S152, (SelectList)ViewBag.MovementList70Deg)
                                <br />
                                <span>Ulnar Deviation (normal endpoint = 45 degrees)</span>
                                @Html.DropDownListFor(x => x.S144, (SelectList)ViewBag.MovementList45Deg)
                                <br />
                                <span>Radial Deviation (normal endpoint = 20 degrees)</span>
                                @Html.DropDownListFor(x => x.S148, (SelectList)ViewBag.MovementList20Deg)
                                <hr />

                                <label>Please perform the following Range of Motion 3 repetitions for the <spa>LEFT</spa> wrist and record the last repetition below.</label>
                                <br />
                                <span>Palmer Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S179, (SelectList)ViewBag.MovementList80Deg)
                                <br />
                                <span>Dorsiflexion (normal endpoint = 70 degrees)</span>
                                @Html.DropDownListFor(x => x.S173, (SelectList)ViewBag.MovementList70Deg)
                                <br />
                                <span>Ulnar Deviation (normal endpoint = 45 degrees)</span>
                                @Html.DropDownListFor(x => x.S171, (SelectList)ViewBag.MovementList45Deg)
                                <br />
                                <span>Radial Deviation (normal endpoint = 20 degrees)</span>
                                @Html.DropDownListFor(x => x.S172, (SelectList)ViewBag.MovementList20Deg)
                                <hr />

                                <label>For the <spa>LEFT</spa> wrist at its worst or during a flare-up, what is the range for each motion?</label>
                                <br />
                                <span>Palmer Flexion (normal endpoint = 140 degrees)</span>
                                @Html.DropDownListFor(x => x.S283, (SelectList)ViewBag.MovementList80Deg)
                                <br />
                                <span>Dorsiflexion (normal endpoint = 70 degrees)</span>
                                @Html.DropDownListFor(x => x.S276, (SelectList)ViewBag.MovementList70Deg)
                                <br />
                                <span>Ulnar Deviation (normal endpoint = 45 degrees)</span>
                                @Html.DropDownListFor(x => x.S280, (SelectList)ViewBag.MovementList45Deg)
                                <br />
                                <span>Radial Deviation (normal endpoint = 20 degrees)</span>
                                @Html.DropDownListFor(x => x.S279, (SelectList)ViewBag.MovementList20Deg)
                            </div>
                            <hr />
                            <button class="btn btn-warning btn-md pull-left" type="button" id="part2PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part2NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Section 2 -->
                <!-- Section 3 -->
                <div class="panel panel-info">
                    <div class="panel-heading" id="part3Show">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse3">Section 3</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group m-t-20">
                                <label class="font-bold">Which limitations affect you? Check if applies and choose Right, Left or Both?</label>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S210) Loss movement than normal
                                    </label>
                                    @Html.RadioButtonFor(x => x.S210Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S210Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S210Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S254) More movement than normal
                                    </label>
                                    @Html.RadioButtonFor(x => x.S254Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S254Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S254Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S208) Weakened movement
                                    </label>
                                    @Html.RadioButtonFor(x => x.S208Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S208Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S208Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S207) Excess fatigability
                                    </label>
                                    @Html.RadioButtonFor(x => x.S207Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S207Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S207Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S261) Incordination, impaired ability to execute skilled movements smoothly
                                    </label>
                                    @Html.RadioButtonFor(x => x.S261Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S261Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S261Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S260) Pain on movement
                                    </label>
                                    @Html.RadioButtonFor(x => x.S260Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S260Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S260Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S259) Swelling
                                    </label>
                                    @Html.RadioButtonFor(x => x.S259Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S259Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S259Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S258) Deformity
                                    </label>
                                    @Html.RadioButtonFor(x => x.S258Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S258Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S258Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S257) Atrophy of disuse
                                    </label>
                                    @Html.RadioButtonFor(x => x.S257Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S257Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S257Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S216) Instability of station
                                    </label>
                                    @Html.RadioButtonFor(x => x.S216Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S216Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S216Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S228) Disturbance of locomotion
                                    </label>
                                    @Html.RadioButtonFor(x => x.S228Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S228Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S228Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S218) Interference with sitting
                                    </label>
                                    @Html.RadioButtonFor(x => x.S218Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S218Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S218Side, "BOTH") Both
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label font-normal">
                                        @Html.EditorFor(x => x.S222) Interference with standing
                                    </label>
                                    @Html.RadioButtonFor(x => x.S222Side, "RIGHT") Right
                                    @Html.RadioButtonFor(x => x.S222Side, "LEFT") Left
                                    @Html.RadioButtonFor(x => x.S222Side, "BOTH") Both
                                </div>
                            </div>
                            <hr />
                            <button class="btn btn-warning btn-md pull-left" type="button" id="part3PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part3NextBtn">Next</button>
                        </div>
                    </div>
                </div>
                <!-- Section 3 -->
                <!-- Section 4 -->
                @*<div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapse4">Section 4</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <button class="btn btn-warning btn-md pull-left" type="button" id="part4PrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="button" id="part4NextBtn">Next</button>
                        </div>
                    </div>
                </div>*@
                <!-- Section 4 -->
                <!-- Finish -->
                <div class="panel panel-info">
                    <div class="panel-heading" id="partfShow">
                        <h4 class="panel-title">
                            <a class="info" data-parent="#accordion" href="#collapsef">Finished</a>
                        </h4>
                    </div>
                    <div id="collapsef" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h2 class="box-title m-b-0 m-t-40">Thank you for completing the questions.  Click submit to process.</h2>
                            <button class="btn btn-warning btn-md pull-left" type="button" id="finishPrevBtn">Prev</button>
                            <button class="btn btn-success btn-md pull-right" type="submit" id="finishBtn">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- Finish -->


            </div>

        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

    $('document').ready(function () {

        var postcall = "WristPost";
        var formname = "formwrist";

        initpanels();
        function save(stateid) {
            var model = $('#' + formname).serialize();
            // Serialize model for Posting model
            $.ajax({
                url: '/Dashboard/' + postcall + '?contentStateID=' + stateid,
                type: 'POST',
                data: model,  // Pass Model to Controller Using Ajax Call
                success: function (data) {
                    // Show Data
                }
            });
        }

        $("#part1NextBtn").on("click", function () {
            show2();
        });

        $("#part2NextBtn").on("click", function () {
            show3();
        });

        $("#part2PrevBtn").on("click", function () {
            show1();
        });

        $("#part3NextBtn").on("click", function () {
            showf();
        });

        $("#part3PrevBtn").on("click", function () {
            show2();
        });

        $("#part4PrevBtn").on("click", function () {
            show3();
        });

        $("#part4NextBtn").on("click", function () {
            showf();
        });

        $("#finishPrevBtn").on("click", function () {
            show3();
        });

        $("input[type=radio]").change(function () {
            var Selectedvalue = $(this).val();
            setROM();
        });

        function hideall() {
            $("#collapse1").collapse('hide');
            $("#collapse2").collapse('hide');
            $("#collapse3").collapse('hide');
            $("#collapse4").collapse('hide');
            $("#collapsef").collapse('hide');
        }

        function initpanels() {
            hideall();
            $("#collapse1").collapse('show');
        }

        function show1() {
            hideall();
            save(2);
            $("#collapse1").collapse('show');
        }
        function show2() {
            hideall();
            setROM();
            save(2);
            $("#collapse2").collapse('show');
        }
        function show3() {
            hideall();
            save(2);
            $("#collapse3").collapse('show');
        }
        function show4() {
            hideall();
            save(2);
            $("#collapse4").collapse('show');
        }
        function showf() {
            hideall();
            save(2);
            $("#collapsef").collapse('show');
        }

        $("#part1Show").on("click", function () {
            show1();
        });

        $("#part2Show").on("click", function () {
            show2();
        });

        $("#part3Show").on("click", function () {
            show3();
        });

        $("#part4Show").on("click", function () {
            show4();
        });

        $("#partfShow").on("click", function () {
            showf();
        });

        function setROM() {
            var S64Side = $('input[name=S64Side]:checked').val();
            var S65Side = $('input[name=S65Side]:checked').val();
            var S66Side = $('input[name=S66Side]:checked').val();
            var S67Side = $('input[name=S67Side]:checked').val();
            var S68Side = $('input[name=S68Side]:checked').val();
            var S69Side = $('input[name=S69Side]:checked').val();
            var S70Side = $('input[name=S70Side]:checked').val();
            var S71Side = $('input[name=S71Side]:checked').val();
            var S72Side = $('input[name=S72Side]:checked').val();
            var S81Side = $('input[name=S81Side]:checked').val();
            var S87Side = $('input[name=S87Side]:checked').val();
            var S103Side = $('input[name=S103Side]:checked').val();

            var isDivRight = $("#romrightdiv");
            var isDivLeft = $("#romleftdiv");
            isDivLeft.hide();
            isDivRight.hide();

            if ((S64Side == "BOTH")
                || (S65Side == "BOTH")
                || (S66Side == "BOTH")
                || (S67Side == "BOTH")
                || (S68Side == "BOTH")
                || (S69Side == "BOTH")
                || (S70Side == "BOTH")
                || (S71Side == "BOTH")
                || (S72Side == "BOTH")
                || (S81Side == "BOTH")
                || (S87Side == "BOTH")
                || (S103Side == "BOTH")
                ) {
                isDivLeft.show();
                isDivRight.show();
            }
            if ((S64Side == "LEFT")
                || (S65Side == "LEFT")
                || (S66Side == "LEFT")
                || (S67Side == "LEFT")
                || (S68Side == "LEFT")
                || (S69Side == "LEFT")
                || (S70Side == "LEFT")
                || (S71Side == "LEFT")
                || (S72Side == "LEFT")
                || (S81Side == "LEFT")
                || (S87Side == "LEFT")
                || (S103Side == "LEFT")
                ) {
                isDivLeft.show();
            }
            if ((S64Side == "RIGHT")
                || (S65Side == "RIGHT")
                || (S66Side == "RIGHT")
                || (S67Side == "RIGHT")
                || (S68Side == "RIGHT")
                || (S69Side == "RIGHT")
                || (S70Side == "RIGHT")
                || (S71Side == "RIGHT")
                || (S72Side == "RIGHT")
                || (S81Side == "RIGHT")
                || (S87Side == "RIGHT")
                || (S103Side == "RIGHT")
                ) {
                isDivRight.show();
            }

        }
        $("input[type=radio]").change(function () {
            var Selectedvalue = $(this).val();
            setROM();
        });
    });
</script>

@Html.Partial("partialModalDBQ")