@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Preliminary";
    ViewData["Description"] = "Preliminary";
}

@model MainSite.Models.BackModel
<div id="page-wrapper">
    <div class="white-box">
        <h1>Please fill the form below regarding your back condition</h1>
        <form id="formqback" action="/Dashboard/BackPDF">

            @*<div class="form-group m-t-20">
                    <div class="col-xs-4">
                        <input id="NameOfPatient" name="NameOfPatient" class="form-control" type="text" required="" placeholder="Name Of Patient">
                    </div>
                </div>
                <div class="form-group m-t-20">
                    <div class="col-xs-4">
                        <input id="SocialSecurity" name="SocialSecurity" class="form-control" type="text" required="" placeholder="Social Security">
                    </div>
                </div>
                <br />*@

            <h2>What is the diagnosis of your back? (Check all that apply)</h2>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S47) No current diagnosis
                    @*<input class="form-check-input" type="checkbox" name="checkboxNoDiagnosis" id="checkboxNoDiagnosis" value="@Model.checkboxNoDiagnosis"> No current diagnosis*@
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S48) Mechanical back pain syndrome
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S49) Lumbosacral sprain/strain
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S50) Facet joint arthropathy (degenerative joint disease of lumbosacral spine)
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S51) Degenerative disc disease
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S1) Degenerative scoliosis
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S52) Foraminal/lateral recess/central stenosis
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S53) Degenerative spondylolisthesis
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S54) Spondylolysis/isthmic spondylolisthesis
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S55) Intervertebral disc syndrome
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S13) Radiculopathy
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S12) Ankylosis of thoracolumbar spine
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S7) Ankylosing spondylitis of the thoracolumbar spine (back)
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    @Html.EditorFor(x => x.S6) Vertebral fracture (vertebrae of the back)
                </label>
            </div>
 

            @*<div class="form-group m-t-20 row">
                    <div class="col-xs-4">
                        <label>
                            <input type="checkbox"> I do not have a current diagnosis for my back.
                        </label>

                    </div>
                </div>
                <div class="form-group m-t-20 row">
                    <div class="col-xs-4">
                        <label>
                            <input type="checkbox"> Mechanical back pain syndrome
                        </label>

                    </div>
                    <div class="col-xs-2">
                            <select id="icdcode" data-backer="--Select ICD Code--" class="form-control">
                                <option value="0">--Select ICD Code--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="col-xs-2">
                            <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy">
                            <span class="input-group-addon"><i class="icon-calender"></i></span>
                        </div>
                </div>
                <div class="form-group m-t-20 row">
                    <div class="col-xs-4">
                        <label>
                            <input type="checkbox"> Lumbosacral sprain/strain
                        </label>

                    </div>
                    <div class="col-xs-4">
                        <select id="icdcode" data-backer="--Select ICD Code--" class="form-control">
                            <option value="0">--Select ICD Code--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <label>
                            <input type="text" class="form-control" placeholder="Date">
                        </label>
                    </div>
                </div>*@
            <div class="form-group text-center m-t-20 row">
                <div class="col-xs-3">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Generate PDF</button>
                </div>
            </div>
        </form>
    </div>
</div>
