@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Dashboard";
    ViewData["Description"] = "Dashboard";
}

@model MainSite.Models.DashboardModel

<!-- Page Content -->
<div id="page-wrapper">
    <script>
        var CurrentRating = 0;
        var IncreaseRating = 0;
        var PotentialRating = 0;
        CurrentRating = @Model.evaluationResults.CurrentRating;
        IncreaseRating = @Model.evaluationResults.IncreaseRating;
        PotentialRating = @Model.evaluationResults.PotentialVARating;
    </script>
    <div class="col-md-12">
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box col-md-6">

                        <h3 class="box-title text-center">Total Combined Disability and Potential Increase</h3>
                        <div id="morris-donut-chart" class="ecomm-donute" style="height: 200px;"></div>
                        <ul class="list-inline m-t-30 text-center">
                            <li class="p-r-20">
                                <h5 class="text-muted"><i class="fa fa-circle" style="color: #f75b36;"></i> Current</h5>
                                <h4 class="m-b-0">@Model.evaluationResults.CurrentRating%</h4>
                            </li>
                            <li class="p-r-20">
                                <h5 class="text-muted"><i class="fa fa-circle" style="color: #00b5c2;"></i> Increase</h5>
                                <h4 class="m-b-0">@Model.evaluationResults.IncreaseRating%</h4>
                            </li>
                            <li class="p-r-20">
                                <h5 class="text-muted"><i class="fa fa-circle" style="color: #4F5467;"></i> Potential</h5>
                                <h4 class="m-b-0">@Model.evaluationResults.PotentialVARating%</h4>
                            </li>
                        </ul>
                        <h2 class="font-500">For Any Support Call 619-822-2070 </h2>
                        <p>Please contact us if you have any questions</p>

                    </div>
                    <div class="col-md-6">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">APPLY FOR EACH DISABILITY</h3>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Disability</th>
                                            <th>Progress</th>
                                            <th class="text-nowrap">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BenefitStatuses)
                                        {
                                            if ( (item.Key == 1) || (item.Key == 3))
                                            {
                                                string hreftext = "/Dashboard/" + @item.Value.BenefitCode;
                                                <tr>
                                                    <td>@item.Value.BenefitName</td>
                                                    <td>
                                                        <div class="progress progress-xs margin-vertical-10 ">
                                                            <div class="progress-bar progress-bar-danger" data-toggle="tooltip" data-original-title="@item.Value.Progress%" style="width: @item.Value.Progress%"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-nowrap">
                                                        <a href="@hreftext" data-toggle="tooltip" data-original-title="@item.Value.TooltipText"> @item.Value.ActionText </a> 
                                                        @if (item.Value.ContentStateID > 0)
                                                        {
                                                            <a href="@hreftext?isnew=true" data-toggle="tooltip" data-original-title="@item.Value.TooltipText"> | New </a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>


                        @*@if (!Model.userModel.IsRatingProfileFinished)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">We Can Increase Your Rating</div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <p>You currently have a @Model.evaluationResults.CurrentRating% rating disability with the VA.  We can increase your rating to @Model.evaluationResults.PotentialVARating% which means another @string.Format("{0:c0}", Model.evaluationResults.AmountIncreasePerMonth) in your pocket every month. </p>
                                        <a href="/Dashboard/RatingsCapture" class="btn btn-custom m-t-10 collapseble">Get Started</a>
                                        <a href="/Dashboard/eBenefits" class="btn btn-custom m-t-10 collapseble">eBenefits</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="white-box">
                                <h3 class="box-title m-b-0">APPLY FOR EACH DISABILITY</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Disability</th>
                                                <th>Progress</th>
                                                <th class="text-nowrap">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.BenefitStatuses)
                                            {
                                                if (item.Key <= 1)
                                                {
                                                    string hreftext = "/Dashboard/" + @item.Value.BenefitCode;
                                                    <tr>
                                                        <td>@item.Value.BenefitName</td>
                                                        <td>
                                                            <div class="progress progress-xs margin-vertical-10 ">
                                                                <div class="progress-bar progress-bar-danger" data-toggle="tooltip" data-original-title="@item.Value.Progress%" style="width: @item.Value.Progress%"></div>
                                                            </div>
                                                        </td>
                                                        <td class="text-nowrap">
                                                            <a href="@hreftext" data-toggle="tooltip" data-original-title="@item.Value.TooltipText"> @item.Value.ActionText </a> |
                                                            @if (item.Value.ContentStateID > 0)
                                                            {
                                                            <a href="@hreftext?isnew=true" data-toggle="tooltip" data-original-title="@item.Value.TooltipText">  New </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }*@
                        @*<button id="btnStartApplication"  class="btn btn-success btn-lg btn-block text-uppercase waves-effect waves-light"><i class="fa fa fa-long-arrow-right"></i> Get Started </button>*@
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-3">
            @if (Model.evaluationResults != null)
            {
                <div class="white-box">
                    <h3 class="box-title">Free Evaluation Results</h3>
                    <hr>
                    <p class="text-blue font-bold">More $ Month</p>
                    <h1>@string.Format("{0:c0}", Model.evaluationResults.AmountIncreasePerMonth)</h1>
                    <hr>
                    <p class="text-blue font-bold">More $ Year</p>
                    <h1>@string.Format("{0:c0}", Model.evaluationResults.AmountIncreasePerYear)</h1>
                    <hr>
                    <p class="text-blue font-bold">Current VA Rating</p>
                    <h1>@Model.evaluationResults.CurrentRating%</h1>
                    <hr>
                    <p class="text-blue font-bold">Potential VA Rating</p>
                    <h1>@Model.evaluationResults.PotentialVARating%</h1>
                    <hr>
                    <p class="text-blue font-bold">Total Per Month After Increase</p>
                    <h1>@string.Format("{0:c0}", Model.evaluationResults.TotalPerMonthAfterIncrease)</h1>
                </div>
            }

        </div>

    </div>
</div>
