@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Current Ratings";
    ViewData["Description"] = "Ratings";
}

@model MainSite.Models.PreliminaryModel

<div id="page-wrapper">
    <div class="col-md-12 col-lg-12 col-xs-12">

        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                @if (Model.ContentTypeID == 0)
                {
                    <h3 class="box-title">Overall VA Rating</h3>
                    <div class="col-md-3">
                        <a href="https://www.ebenefits.va.gov/" target="_blank">
                            <img src="@Model.imageURL" alt="ebenefits" width="150">
                            <div class="caption">
                                <p>Check your disability ratings through eBenefits.</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8 pull-right">
                        <form id="formratingcaptureoverall" method="post" action="/Dashboard/RatingsCapturePost">
                            <input id="ContentTypeID" name="ContentTypeID" class="form-control" type="hidden" value="@Model.ContentTypeID">
                            <div class="text-left"><span class="text-muted"> We have a good chance of getting you the maximum VA rating.</span></div>
                            <h3>Please Answer The Question Below To Get Started</h3>
                            <hr />
                            <label class="control-label">Do you currently have an overall rating by the VA?  If so, what is it?  Check your <a href="https://www.ebenefits.va.gov/" target="_blank">eBenefits</a> account.</label>
                            <br />
                            @Html.DropDownListFor(x => x.Rating, (SelectList)ViewBag.CurrentRatingsList)
                            <hr />
                            <button name="submitID" value="OVERALLRATING_SUBMIT" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Submit</button>
                            <button name="submitID" value="OVERALLRATING_NONE" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">I Don't Have An Overall VA Rating</button>
                            <span class="text-muted"> These answers are stored as part of your profile and may be modified at anytime.</span>
                        </form>
                    </div>
                }
                else
                {
                    <h3 class="box-title">@Model.contentType.VisibleCode Disability</h3>
                    <div class="col-md-3">
                        <img src="@Model.imageURL" alt="@Model.contentType.VisibleCode" width="150">
                    </div>
                    <div class="col-md-8 pull-right">
                        <form id="formratingcapturedisability" method="post" action="/Dashboard/RatingsCapturePost">
                            <input id="ContentTypeID" name="ContentTypeID" class="form-control" type="hidden" value="@Model.ContentTypeID">
                            <div class="text-left"><span class="text-muted"> We have a good chance of getting you the maximum VA rating for this @Model.contentType.VisibleCode injury</span><h1><sup><i class="ti-arrow-up text-success"></i></sup> @Model.contentType.MaxRating%</h1></div>
                            <h3>Please Answer The Question(s) Below</h3>
                            <hr />
                            @if (!((bool)Model.contentType.HasSides))
                            {
                                <label class="control-label">Do you currently have a rating by the VA for this @Model.contentType.VisibleCode disability?  If so, what is it?</label>
                                <br />
                                @Html.DropDownListFor(x => x.Rating, (SelectList)ViewBag.CurrentRatingsList)
                            }
                            @if ((bool)Model.contentType.HasSides)
                            {
                                <label class="control-label">Do you currently have a rating by the VA for this <span>BOTH SIDES</span> of @Model.contentType.VisibleCode disability?  If so, what is it?</label>
                                <br />
                                @Html.DropDownListFor(x => x.RatingBothSide, (SelectList)ViewBag.CurrentRatingsList)
                                <br />
                                <label class="control-label">Do you currently have a rating by the VA for this <span>LEFT SIDE</span> of @Model.contentType.VisibleCode disability?  If so, what is it?</label>
                                <br />
                                @Html.DropDownListFor(x => x.RatingLeftSide, (SelectList)ViewBag.CurrentRatingsList)
                                <br />
                                <label class="control-label">Do you currently have a rating by the VA for this <span>RIGHT SIDE</span> of @Model.contentType.VisibleCode disability?  If so, what is it?</label>
                                <br />
                                @Html.DropDownListFor(x => x.RatingRightSide, (SelectList)ViewBag.CurrentRatingsList)

                                @*<label class="control-label">Do you have disability on left, right, or both sides of your @Model.contentType.VisibleCode?</label>
                                <br />*@
                                @*@Html.RadioButtonFor(x => x.Side, 2)
                                <span>Left</span>
                                @Html.RadioButtonFor(x => x.Side, 3)
                                <span>Right</span>
                                @Html.RadioButtonFor(x => x.Side, 4)
                                <span>Both</span>*@
                            }
                            <hr />
                            @if (!string.IsNullOrEmpty(Model.Message))
                            {
                                <div class="alert alert-warning">
                                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                                    <strong>"Info Required"</strong> @Model.Message
                                </div>
                            }

                            <button name="submitID" value="@Model.ContentTypeID" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Submit My Rating</button>
                            <button name="submitID" value="NOT_CONNECTED" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">I'm NOT Service Connected For This Disability</button>
                            <hr />
                            <span class="text-muted"> These answers are stored as part of your profile and may be modified at anytime.</span>
                        </form>
                    </div>
                }

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

