@model global::MainSite.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}
<div class="row">
    @*<div class="col-md-12">
        <div class="row">
            <h2>@ViewData["Title"].</h2>
            <div class="col-md-2">
                <img src="@Model.ProfileImage"
                     alt="" class="img-rounded img-responsive" />
            </div>
            <div class="col-md-4">
                    <h3>@Model.Name</h3>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i> @Model.EmailAddress
                    </p>
                </div>
        </div>


    </div>*@
    <div class="col-md-12">
        <div class="row">
            <form class="form-basic" method="post" action="#">
                <div class="form-title-row">
                    <h1>Edit Profile</h1>
                </div>
                @*<div class="form-row">
                        <img src="@Model.ProfileImage"
                             alt="" class="img-rounded img-responsive" />

                    </div>*@
                @*<div class="form-row">
                    </div>*@
                <div class="form-row">
                    <label>
                        <span>First Name</span>
                        <input type="text" name="firstname" value="">
                    </label>
                    <label>
                        <span>Last Name</span>
                        <input type="text" name="lastname"  value="">
                    </label>
                    <label>
                        <span>Email</span>
                        <input type="email" name="email" value="@Model.EmailAddress">
                    </label>
                    <label>
                        <span>Phone Number</span>
                        <input type="text" name="phonenumber"  value="">
                    </label>
                </div>
                <div class="form-row">
                    <button type="submit">Submit Form</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<div class="row">
        <form class="form-basic" method="post" action="#">
            <div class="form-title-row">
                <h1>Edit Profile</h1>
            </div>
            <div class="form-row">
                <label>
                    <span>Email</span>
                    <input type="email" name="email" value="@Model.EmailAddress">
                </label>
            </div>
            <div class="form-row">
                <button type="submit">Submit Form</button>
            </div>
        </form>

    </div>*@