@model CalculatorSite.ViewModels.CalculatorViewModel
@{
    ViewBag.Title = "Caculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/content/calculator.css">
}

<div id="page-wrapper">
    <div class="col-xs-12">
        <!-- /.row -->
        <div class="white-box">
            <div class="row text-center">
                <h4>VA Disability Ratings Calculator</h4>
                <div class="col-lg-6">
                    <div id="calculator">

                        @using (Html.BeginForm("ProcessForm", "Calculator", FormMethod.Post))
                        {
                            <div class="inline-keys">
                                <div id="screen">
                                    <label style="color: white">@Model.workingItem.ToString()</label>
                                </div>
                            </div>

                            <div class="keys">
                                <div class="inline-keys">
                                    @for (int i = 70; i <= 90; i += 10)
                                    {
                                        <input type="submit" value="@i" name="submitVal" class="btn btn-success btn-lg" />
                                    }
                                </div>

                                <div class="inline-keys">
                                    @for (int i = 40; i <= 60; i += 10)
                                    {
                                        <input type="submit" value="@i" name="submitVal" class="btn btn-success btn-lg" />
                                    }
                                </div>

                                <div class="inline-keys">
                                    @for (int i = 10; i <= 30; i += 10)
                                    {
                                        <input type="submit" value="@i" name="submitVal" class="btn btn-success btn-lg" />
                                    }
                                </div>

                                <div class="inline-keys">
                                    <input type="submit" value="Clear" name="submitVal" class="btn btn-danger btn-lg" />
                                </div>

                                <div class="keys">
                                    <label>Bilateral Facts</label>

                                    <div class="inline-keys">
                                        <input type="submit" value="@Model.getBilateralFactorItem("1")" name="submitVal" class="btn btn-primary" />
                                    </div>
                                    <div class="inline-keys">
                                        <input type="submit" value="@Model.getBilateralFactorItem("2")" name="submitVal" class="btn btn-primary" />
                                        <input type="submit" value="@Model.getBilateralFactorItem("3")" name="submitVal" class="btn btn-primary" />
                                    </div>
                                    <div class="inline-keys">
                                        <input type="submit" value="@Model.getBilateralFactorItem("4")" name="submitVal" class="btn btn-primary" />
                                        <input type="submit" value="@Model.getBilateralFactorItem("5")" name="submitVal" class="btn btn-primary" />
                                    </div>
                                    <div class="inline-keys">
                                        <input type="submit" value="@Model.getBilateralFactorItem("6")" name="submitVal" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="calculator">

                        <div class="keys">
                            <div class="inline-keys">
                                <label>Rating Result</label>
                                <div id="screen">
                                    <label style="color: white">@Model.combinedRating</label>
                                </div>

                                <h6>All ratings listed in descending order</h6>
                            </div>
                        </div>
                        @{
                            int ind = 0;
                            foreach (var item in Model.lstCalculatorItem)
                            {
                                <div class="inline-keys">
                                    <div id="screen">
                                        <label style="color: white">@item.ToString()</label>
                                    </div>
                                    @Html.ActionLink("Remove", "RemoveItem", "Calculator", new { id = ind }, null)
                                </div>
                                ind++;
                            }
                            @*if (Model.efficiencyRating > 0)
                                {
                                    <h6>Efficiency:  @Model.efficiencyRating%</h6>
                                }*@
                        if (Model.combinedExactRating > 0)
                        {
                            <h6>Actual:  @Model.combinedExactRating%</h6>
                        }
                        if (Model.bilateralFactorResult > 0)
                        {
                            <h6>Applied Bilateral Factor:  @Model.bilateralFactorResult%</h6>
                            }

                            @*if (Model.hasBilateral)
                                {
                                    <h6>Rounded Bilateral (Combined+10%):  @Model.bilateralWorkingItem.RatingID%</h6>
                                }*@
                        if (Model.isLowerBilateral)
                        {
                            <h6>Lower Bilateral Factor Active</h6>
                        }
                        if (Model.isUpperBilateral)
                        {
                            <h6>Upper Bilateral Factor Active</h6>
                            }
                        }

                    </div>
                </div>

            </div>

        </div>
        <!--row -->
    </div>
</div>



